
body {

    width: 100svw;
    min-width: fit-content;
    height: 3331px;
    margin: 0;
    padding: 0;
    background-color: #fff1e3;
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans TC", sans-serif;
    }
  #MainNav {
    position: sticky;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    min-height: 15svh;
    align-items: center;
    top: 0;
    z-index: 9;
    font-size: 1em;
    /* This make cat behind nav */
    /* 1232 length on figma */
  }
  #NavLeft {
    flex: 160;
  }

  #NavMid {
    flex: 691;
  }

  #NavRight {
    flex: 380;
    display: flex;
    flex-direction: row;
  }

  #NavRight>div {
    padding-right: 2em;
    flex-grow: 1;
    overflow: hidden;
    min-width: 64px;
  }
  .container_grid{
    height:3331px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .item-1{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    row-gap: 20px;
  }
  .item-grid-1{
    aspect-ratio: 1 / 1;
    justify-self: center;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 18px black;
  }
  .img_overlay{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #ffffff;
    background:rgba(0,0,0,0);
    transition: 0.25s;
  }
  .img_overlay:hover{
    background:rgba(255,255,255,0.3);
    backdrop-filter: blur(3px);
  }
  .img_overlay>p{
    font-size: 3em;
    transform: translateY(30px);
    transition: transform 0.25s;
  }
  .img_overlay:hover>p{
    font-size: 4em;
    align-self: center;
    transform: translateY(0);
  }
  .img_up{
    display: grid;
    align-self:flex-start;
    font-size: 1.9em;
    text-align: center;
  }
  #img_text1 ,#img_text2 ,#img_text3{
    opacity: 0;
  }
  #img_hover1:hover~#img_text1{
    opacity: 1;
  }
  #img_hover2:hover~#img_text2{
    opacity: 1;
  }
  #img_hover3:hover~#img_text3{
    opacity: 1;
  }
  .img-1{
    background-image: url(./image/生氣02.jpg);
    background-size: cover;
  }
  .img-2{
    background-image: url(./image/仰躺02.jpg);
    background-size: cover;
    background-position: 60%;
  }
  .img-3{
    background-image: url(./image/藏尾巴.jpg);
    background-size: cover;
    background-position: 60%;
  }
  .item-grid{
    height: 100%;
  }
  .item{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    height: 80%;
  }
  img{
    object-fit: cover;
    align-self: flex-end;
    width:100%;
    height: 90%;
  }
  .items-0-img{
    display: grid;
    grid-template-rows: 85% 10% ;
    gap: 10px;
  }
  .s>img{
    height: 100%;
  }
  .sound_1{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px black;
    width: 10vw;
    height: 70%;
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: space-evenly;
    align-items: center;
  }
  button{
    padding: 0;
    margin-left: 10px;
    font-size: clamp(0.75rem, 0.3962rem + 1.8868vw, 1.5rem);
    font-weight: bold;
    color: #ff9d23;
    border: 0ch;
    background-color: rgba(0,0,0,0);
  }
  .items-1-img{
    background-image: url(./image/1.jpg);
    background-size: cover;
  }
  .items-2-img{
    background-image: url(./image/2.png);
    background-size: cover;
  }
  .items-text{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  h1{
    font-size: 40px;
    text-align: center;
  }
  h2{
    font-size: 36px;
    font-weight: bolder
  }
  p{
    font-size: 20px;
    font-weight:600;
  }
  .full{
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    animation: moveAndDisappear 2s forwards;
}

@keyframes moveAndDisappear {
    20% {
        left: 0;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}
.text_animation{
  animation: movein 5s forwards cubic-bezier(0.21, 0.51, 0.34, 0.99);
}
@keyframes movein {
  0% {
      transform: translateY(-20%);
      opacity: 0.3;
  }

  100% {
    transform: translateY(5%);
      opacity: 1;
  }
}
.hover_img0{
  background-image: url(./image/0.jpeg);
}
.hover_img1{
  background-image: url(./image/1.jpg);
}
.hover_img2{
  background-image: url(./image/2.png);
=======
  width: 100svw;
  min-width: fit-content;
  height: 3331px;
  margin: 0;
  padding: 0;
  background-color: #fff1e3;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans TC", sans-serif;
}
#MainNav {
  position: sticky;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  min-height: 15svh;
  align-items: center;
  top: 0;
  z-index: 9;
  font-size: 1em;
  /* This make cat behind nav */
  /* 1232 length on figma */
}
#NavLeft {
  flex: 160;
}

#NavMid {
  flex: 691;
}

#NavRight {
  flex: 380;
  display: flex;
  flex-direction: row;
}

#NavRight>div {
  padding-right: 2em;
  flex-grow: 1;
  overflow: hidden;
  min-width: 64px;
}
.container_grid {
  height: 3331px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.item-1 {
  display: grid;
  grid-template-columns: repeat(3 , minmax(20vw, 1fr)) ;
  aspect-ratio: 1 / 1;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  row-gap: 20px;
}
.item-grid-1 {
  justify-self: center;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 18px black;
}
.img_overlay {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  transition: 0.25s;
}

.img_overlay:hover {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}

.img_overlay>p {
  font-size: 3em;
  transform: translateY(30px);
  transition: transform 0.25s;
}

.img_overlay:hover>p {
  font-size: 4em;
  align-self: center;
  transform: translateY(0);
}

.img_up {
  display: grid;
  align-self: flex-start;
  font-size: 1.9em;
  text-align: center;
}

#img_text1,
#img_text2,
#img_text3 {
  opacity: 0;
}

#img_hover1:hover~#img_text1 {
  opacity: 1;
}

#img_hover2:hover~#img_text2 {
  opacity: 1;
}

#img_hover3:hover~#img_text3 {
  opacity: 1;
}

.img-1 {
  background-image: url(./image/生氣02.jpg);
  background-size: cover;
}

.img-2 {
  background-image: url(./image/仰躺02.jpg);
  background-size: cover;
  background-position: 60%;
}

.img-3 {
  background-image: url(./image/藏尾巴.jpg);
  background-size: cover;
  background-position: 60%;
}

.item-grid {
  height: 100%;
}

.item {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
  height: 80%;
}


img {
  object-fit: cover;
  align-self: flex-end;
  width: 100%;
  height: 90%;
}

.items-0-img {
  display: grid;
  grid-template-rows: 85% 10%;
  gap: 10px;
}

.s>img {
  height: 100%;
}

.sound_1 {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px black;
  width: 10vw;
  height: 70%;
  display: grid;
  grid-template-columns: 20% 70%;
  justify-content: space-evenly;
  align-items: center;
}

/* .sound_img {} */

button {
  padding: 0;
  margin-left: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: #ff9d23;
  border: 0ch;
  background-color: rgba(0, 0, 0, 0);
}

.items-1-img {
  background-image: url(./image/1.jpg);
  background-size: cover;
}

.items-2-img {
  background-image: url(./image/2.png);
  background-size: cover;
}

.items-text {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: bolder
}

p {
  font-size: 20px;
  font-weight: 600;

}
@media (max-width: 1900px){
  .sound_1{
    width:13vw;
  }
}
@media (max-width: 1600px){
  .sound_1{
    width:17vw;
  }
}
@media (max-width: 1300px){
  .sound_1{
    width:20vw;
  }
}

@media (max-width: 1100px){
  .sound_1{
    width:24vw;
  }
  .s>img{
    width:80%;
    height: 60%;
    align-content: center;
  }
}
@media (max-width: 948px){
  .sound_1{
    width:28vw;
  }
}

@media (max-width: 837px){
  .sound_1{
    width:32vw;
  }
}

@media (max-width: 607px){
  .item{
    grid-template-columns: 90%;
    grid-template-rows: 45% 45%;
  }
  .sound_1{
    width:34vw;
  }
  .s>img{
    width:100%;
    height: 100%;
    align-content: center;
  }
}
@media (max-width: 285px){
  .sound_1{
    width:36vw;
  }
}