@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700;900&display=swap");

html {
  margin: 0;
  padding: 0;
  --bar-height: 15vh;
  --extra-space: 30px;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #fff1e3;
}

*::-webkit-scrollbar-thumb {
  background-color: #95c2ea;
  border-radius: 10px;
  border: 3px none #ffffff;
}

:root {
  --CARD-SIZE: 3;
}

body {
  background-color: #fff1e3;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

#wrapper {
 
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  /* Reserve space for header and additional space so above page are visible a bit*/
  scroll-padding-top: calc(var(--bar-height));
  scroll-padding-top: calc(var(--bar-height) + var(--extra-space));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--bar-height) 0 0 0;
  /* Enable Safari touch scrolling physics which is needed for scroll snap */
  -webkit-overflow-scrolling: touch;
}

.Myfont {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 19px;
}

.EachPage {
  scroll-snap-align: start;
  height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

#MainNav {
  width: 100vw;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: var(--bar-height);
  min-height: var(--bar-height);
  align-items: center;
  top: 0;
  z-index: 9;
  font-size: 1em;
  padding-left: 12.8vw;
  padding-right: 12.8vw;
  /* This make cat behind nav */
  /* 1232 length on figma */
}

#NavLeft {
  flex: 160;
}

#NavMid {
  flex: 691;
}

#NavRight {
  flex: 380;
  display: flex;
  flex-direction: row;
}

#NavRight>div {
  padding-right: 2em;
  flex-grow: 1;
  overflow: hidden;
  min-width: 64px;
}

#Main_Sec1 {
  /* flex: 399; */
  /* height: 60%; */
  /* DONT PUT ANY HEIGHT IN SCROLL SNAP!!!!!!!! */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(./Asset/image/Home_repeat.jpg);
  background-repeat: repeat;
}

#Main_Sec1>img {
  height: clamp(10vw + 10em, 15vw , 35vw + 20em);
  transform: translateY(25%);
}

#Main_Sec2 {
  flex: 300;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffcd93;
}

#Main_Sec2>h1 {
  font-size: 3em;
}

#Page1 #Main_Sec2 p {
  font-size: clamp(1.25rem, 0.9375rem + 1.6667vw, 1.875rem);
  text-align: center;
}

/* PAGE 2 CSS  */
#page2 {
  justify-content: flex-end;
}

#cardWrapp {
  flex: 2;
  font-size: clamp(1.25rem, 0.9375rem + 1.6667vw, 1.875rem);
  gap: 7vw;
  display: grid;
  grid-template-columns: repeat(var(--CARD-SIZE), minmax(15vw, 17vw));
  grid-template-rows: repeat(2, auto);
  align-self: center;
}

#P2Sec1 {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  border-radius: 10px;
  background-color: #b8b7b7;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  aspect-ratio: 1 ;
  align-items: flex-end;
}

.hidecard {
  display: none;
}

.Card:hover {
  background-color: #4a4a4a;
}

.Card:hover>p {
  align-self: center;
}

#P2Card1:hover~#CardHide1 {
  display: block;
  color: red;
}

/* #P2Card1:hover + #CardHide1{
   
} */
/* PAGE 2 END PAGE 3 START */

#Main_Sec1>svg {
  z-index: -5;
  float: right;
  transform: scale(1);
  transform: translateY(10.6vh);
  filter: invert(83%) sepia(24%) saturate(787%) hue-rotate(331deg) brightness(102%) contrast(101%);
}

#IMG2 {
  flex-basis: 30%;
      height: clamp(10vw + 10em, 15vw , 35vw + 20em);
}
.Page3Sec2{
  display: flex;
  flex-direction: row;
  background-color: #ffcd93;
}
.Page3Sec2 p {
  font-size: clamp(1rem, 0.875rem + 0.6667vw, 1.25rem);
}
@media only screen and (max-width: 550px) {
 .Page3Sec2{
  display: inline-block;
}
#page3{
  transform: translateY(10vh);
}
}
#page4 {
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scrollbar-color: rgba(255, 255, 255);
  gap: 25vw;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-anchor: none;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides>div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(0.5rem + 1vw);
}

.slider>a {
  display: inline-flex;
  width: 2rem;
  height: 0.5rem;
  background: black;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider>a:active {
  top: 1px;
  color: #1c87c9;
}

.slider>a:focus {
  background: #eee;
}

.Eachslide>p {
font-size: clamp(0.75rem, 0.7054rem + 0.2381vw, 1rem);
}
.imgShrink{
    /* height: clamp(10vw + 10em, 15vw , 25vw + 20em); */
    width: 208px;
    height: 208px;
}