body {
    background-color: bisque;
    width: 100svw;
    height: 220vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

#MainNav {
    background-color: #ffffff;
    position: sticky;
    display: flex;
    flex-direction: row;
    min-height: 15svh;
    align-items: center;
    top: 0;
    z-index: 9;
    font-size: 1em;
}

#NavLeft {
    flex: 160;
}

#NavMid {
    flex: 691;
  }

#NavRight {
    flex: 380;
    display: flex;
    flex-direction: row;
}

#NavRight>div {
    padding-right: 2em;
    flex-grow: 1;
    overflow: hidden;
    min-width: 64px;
}

#container {
    align-items: center;
    justify-content: flex-end;
}

#center-title {
    text-align: center;
    font-size: 40px;
    /* margin-top: 20svh; */
    margin-bottom: -5svh;
}

.wrong, .right {
    height: 100%;
    margin-bottom: 15svh;
}

#wrong-way, #right-way {
    background-color: #ffffff;
    border-radius: 16px;
    font-size: 32px;
    width: 929px;
    height: 78px;
    
    margin-bottom: -32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 78px;
}

#wrong-way:hover, #right-way:hover {
    background-color: #ffcd93;
    color: rgb(255, 140, 0);
    font-weight: bold;
    letter-spacing: 0.29em;
}

 .wrongway_whole1 h2 {
    font-size: 32px;
    color: rgb(255, 140, 0);
    margin: 20px;
    padding-top: 90px;
    padding-right: 450px;
}

.wrongway_whole2 h2 {
    font-size: 32px;
    color: rgb(255, 140, 0);
    margin: 20px;
    padding-top: 90px;
    padding-right: 420px;
}

.rightway_whole1 h2 {
    font-size: 32px;
    color: rgb(255, 140, 0);
    margin: 20px;
    padding-top: 90px;
    padding-right: 570px;
}

.wrongway_whole1 {
    width: 929px;
    height: 468px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffcd93;
    border-radius: 16px;
    text-align: center;
}

.wrongway_whole2 {
    width: 929px;
    height: 468px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffcd93;
    border-radius: 16px;
    text-align: center;
}

.rightway_whole1 {
    width: 929px;
    height: 468px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffcd93;
    border-radius: 16px;
    text-align: center;
}

.wrongway_whole1 p {
    /* text-indent: 2em; */
    margin: 0 85px 0 85px;
    font-size: 1.5vw;
    text-align: justify;
    margin-top: 50px;
}

.wrongway_whole2 p {
    margin: 0 85px 0 85px;
    font-size: 1.5vw;
    text-align: justify;
    margin-top: 50px;
}

.rightway_whole1 p {
    margin: 0 85px 0 85px;
    font-size: 1.5vw;
    text-align: justify;
    margin-top: 50px;
}
